.vscode/**

*.o
bin/**

cmake-build-dir/**
cmake-build-debug/bin/**
build/**

docs/**

tests/file*
tests/bin/**
tests/sdstored.conf
tests/client
tests/server

inline_umlgraph_cache_all.pu
Makefile

report/**